/* Alle sider */

body{
    font-family: 'open sans';
}

.topBoks{
    font-family: 'segoe script';
    border: 2px solid black;
    height: 150px;
    text-align: center;
    margin: auto;
    background-color: rgba(97, 0, 145, 0.5);
    font-style: italic;
    font-size: 130%;
}

.welcome{
    padding: 20px;
}

ul{
    list-style-type: none;
    padding-right: 25px;
    overflow: hidden;
    border: 2px solid black
}

li {
    float: right;
}

li a {
    display: block;
    padding: 10px;
    margin-left: 80px;
    font-size: 125%;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: rgba(97, 0, 145, 0.5);
}

.active {
    text-decoration: underline;
}

/* Forside */

.velkomst {
    font-family: 'segoe script';
    text-align: center;
    font-size: 300%;
    animation: 
}

.penguinAnimation{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 25%;
    background: url('../Billeder/animation-04.png') 0 0 no-repeat;
    animation: penguin 5s steps(79) infinite;
}

@keyframes penguin {
    0% {background-position: 0px;}
    100% {background-position: -15800px;}
}

.scalaAnimation{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 25%;
    margin-top: 25px;
    background: url('../Billeder/scala-animation-04-01.png') 0 0 no-repeat;
    animation: scala 6s steps(82) infinite;
}

@keyframes scala {
    0% {background-position: 0px;}
    100% {background-position: -12300px;}
}