/* Alle sider */

body{
    font-family: 'open sans';
    background-color: rgba(0, 0, 0, 0.55);
}
 
.topBoks{
    font-family: 'segoe script';
    border: 2px solid black;
    height: 148px;
    width: 100%;
    margin: auto;
    font-style: italic;
    font-size: 130%;
    box-shadow: 5px 5px 10px black;
}

.banner{
    width: 100%;
}

.welcome{
    padding: 20px;
}

ul{
    list-style-type: none;
    padding-right: 25px;
    overflow: hidden;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}

li {
    float: right;
}

li a {
    display: block;
    padding: 10px;
    margin-left: 80px;
    font-size: 125%;
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

hr{
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: block;
    border-style: dashed;
    border-width: 2px;
    width: 80%;
    opacity: 50%;
}

/* Forside */

.velkomst {
    font-family: 'segoe script';
    text-align: center;
    font-size: 200%;
    animation: 
}

.penguinAnimation{
    width: 200px;
    height: 200px;
    float: left;
    margin-left: 20%;
    background: url('../Billeder/animation-04.png') 0 0 no-repeat;
    animation: penguin 5s steps(79) infinite;
}

@keyframes penguin {
    0% {background-position: 0px;}
    100% {background-position: -15800px;}
}

.scalaAnimation{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10%;
    margin-top: 25px;
    background: url('../Billeder/scala-animation-04-01.png') 0 0 no-repeat;
    animation: scala 6s steps(82) infinite;
}

@keyframes scala {
    0% {background-position: 0px;}
    100% {background-position: -12300px;}
}

.logobillede {
    width: 15%;
    float: left;
    margin-left: 10%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 15px black;
}

.projektKasse {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: 'segoe script';
    margin-left: 15%;
    width: 568px;
    height: 341px;
    margin-bottom: 50px;
}

.projektKasse:hover {
    font-size: 150%;
}

.projektKasse:active {
    transform: translateY(4px);
}

.projektBillede {
    border: 2px solid black;
    position: absolute;
    height: 341px;
    width: 568px;
    filter: blur(3px);
    box-shadow: 5px 5px 15px black;
}

.projektTekst {
    font-size: 350%;
    width: 100%;
    height: 50%;
    color: black;
    margin-top: 125px;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    text-decoration: none;
}

.kreationsKasse {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: 'segoe script';
    margin-left: 55%;
    width: 568px;
    height: 341px;
    margin-bottom: 50px;
}

.kreationsBillede {
    border: 2px solid black;
    position: absolute;
    height: 341px;
    width: 568px;
    filter: blur(3px);
    box-shadow: 5px 5px 15px black;
}

.kreationsTekst {
    font-size: 350%;
    width: 100%;
    height: 50%;
    color: white;
    margin-top: 125px;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    text-decoration: none;
}

.kreationsKasse:hover {
    font-size: 150%;
}

.kreationsKasse:active {
    transform: translateY(4px);
}

.migKasse {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: 'segoe script';
    margin-left: 15%;
    width: 568px;
    height: 341px;
    margin-bottom: 50px;
}

.omMigBillede {
    border: 2px solid black;
    position: absolute;
    width: 568px;
    height: 341px;
    filter: blur(3px);
    box-shadow: 5px 5px 15px black;
}

.migTekst {
    font-size: 350%;
    width: 100%;
    height: 50%;
    margin-top: 125px;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    text-decoration: none;
    color: black;
}

.migKasse:hover {
    font-size: 150%;
}

.migKasse:active {
    transform: translateY(4px);
}

/* Projekter */

.projektTitel {
    text-align: center;
    font-size: 250%;
    font-family: 'segoe script';
}

.projektVelkomst {
    text-align: center;
    font-size: 125%;
}

.projektScala {
    text-align: center;
    font-size: 150%;
    font-family: 'segoe script';
}

.scalaLogo {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
}

.scalaText {
    width: 50%;
    margin-left: 15%;
    float: left;
}

.link {
    color: black;
}

.scalaInsta1 {
    width: 23%;
    margin-left: 15%;
    margin-right: 5%;
}

.scalaInsta2 {
    width: 23%;
}

.projektAbtion {
    text-align: center;
    font-size: 150%;
    font-family: 'segoe script';
}

.skyText {
    width: 50%;
    margin-left: 15%;
    margin-right: 25%;
    float: left;
}

.umbrella {
    width: 15%;
    margin-left: 15%;
}

.map {
    width: 40%;
}

.projektFlugt {
    text-align: center;
    font-size: 150%;
    font-family: 'segoe script';
}

/* Kreationer */

.creationsTitel {
    text-align: center;
    font-size: 250%;
    font-family: 'segoe script';
}

.creationsVelkomst {
    text-align: center;
    font-size: 125%;
}

.creationsAnimation {
    text-align: center;
    font-size: 150%;
    font-family: 'segoe script';
}

.cloudAnimation {
    width: 1024px;
    height: 784px;
    
    background: url(../billeder/LoadingSkyAnimation-01.png) 0 0 no-repeat;
    animation: lille-sky 2s steps(15) infinite;
    position: absolute;
}

@keyframes lille-sky {
    0% {background-position: 0px;}
    100% {background-position: -15360px;}
}

.creationsWP {
    text-align: center;
    font-size: 150%;
    font-family: 'segoe script';
}

.creationsHobby {
    text-align: center;
    font-size: 150%;
    font-family: 'segoe script';
}
    
/* Om mig */
    
.aboutTitel {
    text-align: center;
    font-size: 250%;
    font-family: 'segoe script';
}

.meLogo {
    margin-left: 15%;
    width: 20%;
    box-shadow: 5px 5px 15px black;
    float: left;
}

.meText {
    width: 50%;
    float: left;
    margin-left: 5%;
}

/* Kontakt */

.contactTitel {
    text-align: center;
    font-size: 250%;
    font-family: 'segoe script';
}

.contactLogo {
    margin-left: 15%;
    margin-bottom: 5%;
    width: 20%;
    box-shadow: 5px 5px 15px black;
    float: left;
}

.contactText {
   text-align: center;
    font-size: 125%;
    
    
}


/* Breakpoints */

@media only screen and (max-width:600px){}

@media only screen and (min-width:601px) and (max-width:992px){}
    
@media only screen and (min-width:993px) and (max-width:1200px){}

@media only screen and (min-width:1201px)and (max-width:1600px){}